<div class="row">
  <div
    class="col-md-4 col-12 mt-3"
    *ngFor="let project of projects"
  >
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title mb-2">
          <a
            [href]="project.url"
            class="card-link"
            target="_blank"
          >
            {{ project.title }}
          </a>
        </h5>
        <p class="card-text mb-3">
          {{ project.description }}
        </p>
        <div class="mb-2">
          <app-tag-item
            *ngFor="let tag of project.tags"
            [tag]="tag"
            [spacing]="'p-1 mb-1 me-1'"
          ></app-tag-item>
        </div>
      </div>
      <div class="card-footer border-0 bg-transparent">
        <a
          *ngIf="project.demo"
          [href]="project.demo"
          target="_blank"
          class="btn btn-primary"
        >
          Live Demo
        </a>
      </div>
    </div>
  </div>
</div>
